# Python
.venv/
__pycache__/
*.pyc

# Data & warehouse (ignored for size and licensing)
data/raw/
warehouse/

# dbt artifacts
edtech_dbt/target/
edtech_dbt/dbt_packages/
logs/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# DuckDB databases
warehouse/*.duckdb
warehouse/*.db

# dbt artifacts
edtech_dbt/target/
edtech_dbt/dbt_packages/
edtech_dbt/logs/
